
fieldset {
    border-color: beige;
    border: 1px solid;
    border-radius: 3.5px;
    margin: 10px 10px 0px 10px;
    width: 40%;
    float: none;
}

fieldset legend {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: 10em;
}

label {
    font-size: 20px;
    color: rgb(226, 231, 206);
}

body {
    background-image: url("pic2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
}
ul {
    list-style-type: none;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.form-table{
    padding: 5%;
}
.form-input{
    display: block;
    width: 12em;
    height: 2.5em;
    margin: 6 4 6 10px;
}
.form-input-radius{
    border: 1px solid;
    border-radius: 2px;
}
.form-input-shadow{
    -webkit-box-shadow: 4px 5px 7px 0px #d5dedf;
    -moz-box-shadow: 4px 5px 7px 0px #000000;
    box-shadow: 4px 5px 7px 0px #71898c;
}
.form-submit{
    cursor: pointer;
    /*background-image: linear-gradient(to right, #1f2e44, #0a596f, #088687, #5fb288, #bdd882);*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+75,bf6e4e+100 */
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 75%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 75%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 75%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}
.form-submit:hover{
    background-color: hsla(189, 22%, 77%, 0.6);
}
placeholder{
    font-style: italic;
}

.coloumn1{
    padding : 10px;
    align: left;
}

.coloumn2{
    align: left;
}